.modal-delete-background-icon {
    display: flex;

    background-color: #D9D9D9;
    width: 80px;
    height: 80px;

    justify-self: center;
    margin-top: 40px;

    border-radius: 50px;
}

.modal-delete-icon {
    width: 40px;
    height: 40px;

    align-self: center;
    margin-left: 25%;
}

.modal-delete-button {
    width: 60px;
    height: 60px;

    float: right;

    margin-right: 30px;
    margin-top: 15px;

    border: none;
    border-radius: 3px;
    text-align: center;

    background-color: #B34040;
}
.modal-delete-button {
    cursor: pointer;
}