* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;

    background-color: #D9D9D9;

    color: #000;
    font-family: 'poppins', sans-serif;
    font-size: 125%;

    margin: 0;
    padding: 0;
}

nav {
    display: block;
}
ul {
    padding: 0;
    margin-top: 0;
}

.menu-container {
    display: block;

    width: 433px;
    height: 100vh;

    background-color: #333333; 

    gap: 0;
}

.user-information {
    display: flex;

    width: 433px;
    height: 140px;

    align-items: center;
}
.user-information:hover {
    background-color: #555;
}

.user-picture {
    width: 75px;
    height: 75px;

    margin-left: 20px;
    margin-right: 20px;

    border: 1px solid #000;
    border-radius: 50%;
}

.user-picture-image {
    border-radius: 50%;
}

.user-name {
    font-size: 36px;
    font-weight: bold;

    color: #f2f2f2;
}

.menu-button,
.menu-button-active {
    display: flex;

    width: 100%;
    height: 70px;

    align-items: center;

    padding-left: 20px;
    gap: 20px;

    font-size: 36px;
    font-weight: bold;
    background-color: #333;

    color: #f2f2f2;
    border-top: 1px solid #a8a8a8;
}
.menu-button:hover {
    background-color: #555;
}
.menu-button-active {
    background-color: #617AF4;
}

.main-container {
    display: flex;

    width: 1487px;
    height: 100vh;

    background-color: #D9D9D9;
}

.search-container {
    width: 1242px;
    height: 50px;

    margin-left: 50px;
    margin-top: 36px;

    margin-right: 0px;
    margin-bottom: 0px;
    gap: 0px;

    background-color: #f2f2f2;

    border: 1px solid #000;
    border-radius: 3px;

}

.search-input {
    width: 1192px;
    height: 50px;

    background-color: transparent;

    padding-left: 15px;

    border: none;

    font-size: 24px;
}
.search-input:focus {
    outline: none;
}

.search-button {
    position: absolute;
    width: 50px;
    height: 50px;

    background-color: transparent;
    border: none;
}

.create-new {
    width: 134px;
    height: 50px;

    margin-left: 6px;
    margin-top: 36px;

    background-color: #3FA236;

    border-radius: 3px;
    border: none;
}
.create-new:hover {
    background-color: #33802c;
}
.create-new:active {
    background-color: #3FA236;
}
.create-new.active {
    display: block;
}
.create-new.inactive {
    display: none;
}

.table-container {
    position: absolute;

    margin-top: 113px;
    margin-left: 48px;

    width: 1387px;
    height: 810px;

    background-color: transparent;
}

table {
    font-family: 'poppins', sans-serif;
    width: 100%;
    border: 2px solid #f2f2f2;
    border-collapse: collapse;
    border-radius: 5px;
}

th, td {
    width: 250px;
    height: 50px;

    text-align: center;
    font-size: 14px;
    border: none;
    border-right: 1px solid #f2f2f2;
}

th {
    background-color: #617AF4;
    color: #F2F2F2;
    font-weight: normal;
    font-size: 16px;
}

td {
    color: #000;
}
tr {
    background-color: #BFBFBF;
}
tr:nth-child(even) {
    background-color: #CDCDCD;
}

.actions-buttons {
    background-color: transparent;
    border: none;
}